/* Color Scheme (monochromatic)
#6F5C73 - greyish
#DE7AF4 - pink light
#E9C2F2 - browninsh pink
#683973 - maroon
#B899BF - light grey */

.button {
    background-color: "#683973";
    color: "#B899BF";
    font: 'IBM Plex Mono';
    margin-right: '30px';
    margin-left: '50px';
}

.button-plus-minus {
    background-color: "#683973";
    color: "#B899BF";
    font: 'IBM Plex Mono';
    border-radius: 50;
    height: '20px';
    width: '10px';
}

.image {
    height: 200;
    width: 400;
    align-self: 'left';
    margin-top: '10px';
    margin-bottom: '5px';
    margin-left: '5px';
    margin-right: '30px';
}