/* Color Scheme (monochromatic)
#A5BE7D - light
#74A059 - mid
#4E764E - dark
#4E6A6A - grey
#2B393B - black */

.button {
    background-color: "#683973";
    color: "#B899BF";
    font: 'IBM Plex Mono';
    margin-right: '30px';
    margin-left: '50px';
}

.button-plus-minus {
    background-color: "#683973";
    color: "#B899BF";
    font: 'IBM Plex Mono';
    border-radius: 50;
    height: '20px';
    width: '10px';
}

.image {
    height: 200;
    width: 400;
    align-self: 'left';
    margin-top: '10px';
    margin-bottom: '5px';
    margin-left: '5px';
    margin-right: '30px';
}